[Unit]
  Description=/etc/rc.local Compatibility
  ConditionPathExists=/etc/rc.local

[Service]
  Type=forking
  ExecStart=/etc/rc.local
  StandardOutput=tty

[Install]
  WantedBy=multi-user.target
