[Desktop Entry]
Type=Link
Name=Postman
Icon=/snap/postman/80/usr/share/Postman/resources/app/assets/icon.png
URL=/var/lib/snapd/desktop/applications/postman_postman.desktop
